@import "partials/footer";
@import "partials/index";
@import "partials/menu";
@import "partials/typography";
@import "partials/products";
@import "partials/cart";
@import "partials/forms";
@import "partials/buttons";




body {
  background-color: rgb(251, 251, 253);
  color: rgba(29, 29, 31, 0.9);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.stickyfooter {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}