footer {
  background: #002d6b;
  color: white;
  p {
    margin: 0;
    font-size: 0.8em;
  }
  i {
    margin-right: 1rem;
    font-size: 1.25rem;
  }
}

.footer-title {
    font-size: 0.8em;
    margin-bottom: 1rem;
  }