body {
    font-family: "Roboto", sans-serif;
  }
  
  h1{
    font-size: 48px;
    font-weight: 900;
  }
  
  h2 {
    font-size: 36px;
    font-weight: 700;
  }

  h3{
    font-size: 24px;
  
  }

.testimonials{
  font-family: "Raleway",
  sans-serif;
  font-style: italic;
  font-weight: 500;
}

.signuptitle{
  font-weight: 700;
}

.brandTitle{
  font-weight: 700;
}

.wallOfText{
  font-family: "Raleway",
  sans-serif;
}